*{padding: 0px;margin: 0px;}
body{
   background-color: rgb(241, 241, 212);
}
.main{
    margin: 0px 222px;
    width: 800px;
}
.header{
     background-color: darksalmon;
     color: darkslateblue;
    padding: 50px 0px;
}
.menu{
    background-color: rgb(189, 123, 93);
   
}
.menu ul{
    list-style: none;
}
.menu ul li{
    display: inline;
    border-right: 1px solid black;
}
.menu ul li:last-child{
    border-right: none;
}
.menu ul li a{
    text-decoration: none;
      padding: 10px 15px;
     display: inline-block;
     transition: 1s;
}
.menu ul li a:hover{
   background-color: rgb(238, 231, 202);
   color: rgb(33, 21, 207);
}
.scroll_news{
    background-color: rgb(241, 241, 148);
    color: blue;
    padding: 5px 0px;
}

.maincontent{
    width: 800px;
    background-color: rgb(184, 52, 113);
}
.maincontent p{
    padding: 10px;
    text-align: justify;
}
.maincontent img{
    width: 300px;
    float: left;
    padding-right: 10px;
}

.footer{
    background-color: darksalmon;
    padding:10px 0px;
}